<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.AlarmAbnormalMapper">

    <select id="getAlarmAbnormalCount" resultType="java.lang.Integer">
        select
        count(1)
        from alarm_error
        where 1 = 1
        <if test="systemCode!=null">
            and system_code = #{systemCode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and alarm_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and alarm_time &lt;= #{endTime}
        </if>
    </select>
    <select id="getAlarmAbnormal" resultType="com.zte.msg.alarmcenter.dto.res.AlarmAbnormalResDTO">
        select
            t.id,
            DATE_FORMAT(t.alarm_time, "%Y-%m-%d %T") as alarmTime,
            t.system_code,
            (select distinct t1.name from subsystem t1 where t1.sid = t.system_code and t1.is_deleted = 0) as systemName,
            t.line_code,
            (select distinct t2.name from `position` t2 where t2.position_code = t.line_code and t2.`type` = 1  and t2.is_deleted = 0) as lineName,
            t.position_code,
            (select distinct t3.name from `position` t3 where t3.position_code = t.position_code and t3.`type` = 3  and t3.is_deleted = 0) as positionName,
            t.device_code,
            (select distinct t4.name from device t4 where t4.device_code = t.device_code and t4.is_deleted = 0) as deviceName,
            t.slot_code,
            (select distinct t5.name from device_slot t5 where t5.slot_code = t.slot_code and t5.is_deleted = 0) as slotName,
            t.alarm_code,
            (select distinct t6.name from alarm_code t6 where t6.code = t.alarm_code and t6.is_deleted = 0) as alarmName,
            t.ip,
            DATE_FORMAT(t.created_at, "%Y-%m-%d %T") as createdAt,
            t.error_content
        from alarm_error t
        where 1 = 1
        <if test="systemCode!=null">
            and t.system_code = #{systemCode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and t.alarm_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and t.alarm_time &lt;= #{endTime}
        </if>
        limit #{page},#{size}
    </select>
</mapper>