<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.AlarmAbnormalMapper">

    <insert id="insertAlarmError">
        insert into alarm_error
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmHistoryReqDTO.alarmTime!=null">
                alarm_time,
            </if>
            <if test="alarmHistoryReqDTO.system!=null">
                system_code,
            </if>
            <if test="alarmHistoryReqDTO.line!=null">
                line_code,
            </if>
            <if test="alarmHistoryReqDTO.station!=null">
                position_code,
            </if>
            <if test="alarmHistoryReqDTO.device!=null">
                device_code,
            </if>
            <if test="alarmHistoryReqDTO.slot!=null">
                slot_code,
            </if>
            <if test="alarmHistoryReqDTO.alarmCode!=null">
                alarm_code,
            </if>
            <if test="ip!=null and ip!=''">
                ip,
            </if>
            <if test="error!=null and error!=''">
                error_content,
            </if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmHistoryReqDTO.alarmTime!=null">
                #{alarmHistoryReqDTO.alarmTime},
            </if>
            <if test="alarmHistoryReqDTO.system!=null">
                #{alarmHistoryReqDTO.system},
            </if>
            <if test="alarmHistoryReqDTO.line!=null">
                #{alarmHistoryReqDTO.line},
            </if>
            <if test="alarmHistoryReqDTO.station!=null">
                #{alarmHistoryReqDTO.station},
            </if>
            <if test="alarmHistoryReqDTO.device!=null">
                #{alarmHistoryReqDTO.device},
            </if>
            <if test="alarmHistoryReqDTO.slot!=null">
                #{alarmHistoryReqDTO.slot},
            </if>
            <if test="alarmHistoryReqDTO.alarmCode!=null">
                #{alarmHistoryReqDTO.alarmCode},
            </if>
            <if test="ip!=null and ip!=''">
                #{ip},
            </if>
            <if test="error!=null and error!=''">
                #{error},
            </if>
        </trim>
    </insert>

    <select id="getAlarmAbnormalCount" resultType="java.lang.Integer">
        select
        count(1)
        from alarm_error
        where 1 = 1
        <if test="systemCode!=null">
            and system_code = #{systemCode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and alarm_time >= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and #{endTime} >= alarm_time
        </if>
    </select>
    <select id="getAlarmAbnormal" resultType="com.zte.msg.alarmcenter.dto.res.AlarmAbnormalResDTO">
        select
        t.id,
        t.alarm_time,
        t.system_code,
        (select name from subsystem where sid=t.system_code and is_deleted=0) as system_name,
        t.line_code,
        t.position_code,
        (select name from position where position_code=t.position_code and is_deleted=0 and type=3 and
        p_id=(select id from position where position_code=t.line_code and type=2 and is_deleted=0)) as position_name,
        t.device_code,
        t.slot_code,
        t.alarm_code,
        t.ip,
        t.created_at,
        t.error_content
        from alarm_error t
        where t.is_deleted=0
        <if test="systemCode!=null">
            and t.system_code = #{systemCode}
        </if>
        <if test="startTime!=null">
            and t.alarm_time >= #{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime} >= t.alarm_time
        </if>
        order by t.created_at desc,t.id desc
    </select>
</mapper>