<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.AlarmManageMapper">
    <resultMap id="sAlarmHistory" type="com.zte.msg.alarmcenter.dto.res.AlarmHistoryResDTO">
        <id property="id" column="id"/>
        <result property="subsystemId" column="subsystem_id"/>
        <result property="subsystemName" column="subsystem_name"/>
        <result property="subsystemCode" column="subsystem_code"/>
        <result property="lineId" column="line_id"/>
        <result property="lineName" column="line_name"/>
        <result property="lineCode" column="line_code"/>
        <result property="siteId" column="site_id"/>
        <result property="siteName" column="site_name"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="slotId" column="slot_id"/>
        <result property="slotPosition" column="slot_position"/>
        <result property="alarmLevel" column="alarm_level"/>
        <result property="alarmCode" column="alarm_code"/>
        <result property="alarmName" column="alarm_name"/>
        <result property="alarmReason" column="alarm_reason"/>
        <result property="firstTime" column="first_time"/>
        <result property="finalTime" column="final_time"/>
        <result property="frequency" column="frequency"/>
        <result property="alarmVolume" column="alarm_volume"/>
        <result property="isUpgrade" column="is_upgrade"/>
        <result property="isMute" column="is_mute"/>
        <result property="alarmState" column="alarm_state"/>
        <result property="recoveryTime" column="recovery_time"/>
        <result property="alarmRemark" column="alarm_remark"/>
        <collection property="alarmMessageResDTOList" javaType="ArrayList" ofType="SelectionEntity" select="selectAlarmMsg" column="id"/>
    </resultMap>

    <select id="selectAlarmMsg" resultType="com.zte.msg.alarmcenter.dto.res.AlarmHistoryResDTO$AlarmMessageResDTO">
        select title, content from alarm_message where alarm_id=#{id} and is_deleted=0
    </select>

    <select id="pageAlarmHistory" resultMap="sAlarmHistory">
        SELECT ah.id,ah.subsystem_id,s.name as subsystem_name,ah.subsystem_code,ah.line_id,p1.name as line_name,
        ah.line_code,ah.site_id,p2.name as site_name,ah.frequency,ah.is_mute,ah.is_upgrade,ah.alarm_volume,
        ah.device_id,d.name as device_name,ah.alarm_level,ah.slot_id,ds.name as slot_position,ac.code as alarm_code,
        ah.alarm_name,ah.alarm_reason,ah.first_time,ah.final_time,ah.alarm_state,ah.recovery_time,ah.alarm_remark
        FROM alarm_history as ah
        left join subsystem as s on s.id=ah.subsystem_id and s.is_deleted=0
        left join position as p1 on p1.id=ah.site_id and p1.is_deleted=0
        left join position as p2 on p2.id=ah.site_id and p2.is_deleted=0
        left join device as d on d.id=ah.device_id and d.is_deleted=0
        left join device_slot as ds on ds.id=ah.slot_id and ds.is_deleted=0
        left join alarm_code as ac on ac.id=ah.alarm_code and ac.is_deleted=0
        where ah.is_deleted=0
        and ah.alarm_state in (4,5,6,7)
        <if test="subsystemId!=null">
            and ah.subsystem_id=#{subsystemId}
        </if>
        <if test="siteId!=null">
            and ah.site_id=#{siteId}
        </if>
        <if test="alarmLevel!=null">
            and ah.alarm_level=#{alarmLevel}
        </if>
        <if test="alarmCode!=null">
            and ac.code=#{alarmCode}
        </if>
        <if test="startTime!=null">
            and ah.final_time >= #{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime} >= ah.final_time
        </if>
        ORDER BY ah.updated_at DESC
    </select>

    <select id="exportAlarmHistory" resultType="com.zte.msg.alarmcenter.dto.res.AlarmHistoryResDTO">
        SELECT ah.id,ah.subsystem_id,s.name as subsystem_name,ah.subsystem_code,ah.line_id,p1.name as line_name,
        ah.line_code,ah.site_id,p2.name as site_name,ah.frequency,
        ah.device_id,d.name as device_name,ah.alarm_level,ah.slot_id,ds.name as slot_position,ac.code as alarm_code,
        ah.alarm_name,ah.alarm_reason,ah.first_time,ah.final_time,ah.alarm_state,ah.recovery_time,ah.alarm_remark
        FROM alarm_history as ah
        left join subsystem as s on s.id=ah.subsystem_id and s.is_deleted=0
        left join position as p1 on p1.id=ah.site_id and p1.is_deleted=0
        left join position as p2 on p2.id=ah.site_id and p2.is_deleted=0
        left join device as d on d.id=ah.device_id and d.is_deleted=0
        left join device_slot as ds on ds.id=ah.slot_id and ds.is_deleted=0
        left join alarm_code as ac on ac.id=ah.alarm_code and ac.is_deleted=0
        where ah.is_deleted=0
        and ah.alarm_state in (4,5,6,7)
        <if test="subsystemId!=null">
            and ah.subsystem_id=#{subsystemId}
        </if>
        <if test="siteId!=null">
            and ah.site_id=#{siteId}
        </if>
        <if test="alarmLevel!=null">
            and ah.alarm_level=#{alarmLevel}
        </if>
        <if test="alarmCode!=null">
            and ah.alarm_code_id=#{alarmCode}
        </if>
        <if test="startTime!=null">
            and ah.final_time >= #{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime} >= ah.final_time
        </if>
        ORDER BY ah.updated_at DESC
    </select>

    <update id="editRemark">
        update alarm_history set alarm_remark=#{alarmRemark} where id=#{id}
    </update>

    <insert id="editAlarmHistory">
        <foreach collection="list" item="alarmHistory" index="index" separator=";">
            <trim suffixOverrides=";">
                INSERT INTO alarm_history (subsystem_id, subsystem_code, alarm_level,
                line_id, line_code, site_id, site_code, device_id, device_code, slot_id, slot_code,
                alarm_code, alarm_code_id, frequency,
                <if test="alarmHistory.alarmName!=null">
                    alarm_name,
                </if>
                <if test="alarmHistory.alarmReason!=null">
                    alarm_reason,
                </if>
                <if test="alarmHistory.firstTime!=null">
                    first_time,
                </if>
                <if test="alarmHistory.finalTime!=null">
                    final_time,
                </if>
                <if test="alarmHistory.alarmState!=null">
                    alarm_state,
                </if>
                <if test="alarmHistory.delayTime!=null">
                    delay_time,
                </if>
                <if test="alarmHistory.alarmFrequency!=null">
                    alarm_frequency,
                </if>
                <if test="alarmHistory.frequencyTime!=null">
                    frequency_time,
                </if>
                <if test="alarmHistory.experienceTime!=null">
                    experience_time,
                </if>
                <if test="alarmHistory.isRing!=null">
                    is_ring,
                </if>
                <if test="alarmHistory.isRecovery">
                    is_recovery,
                </if>
                recovery_time)
                SELECT #{alarmHistory.subsystemId}, #{alarmHistory.subsystemCode}, #{alarmHistory.alarmLevel},
                #{alarmHistory.lineId}, #{alarmHistory.lineCode}, #{alarmHistory.siteId}, #{alarmHistory.siteCode},
                #{alarmHistory.deviceId}, #{alarmHistory.deviceCode}, #{alarmHistory.slotId}, #{alarmHistory.slotCode},
                #{alarmHistory.alarmCode}, #{alarmHistory.alarmCodeId}, 1,
                <if test="alarmHistory.alarmName!=null">
                    #{alarmHistory.alarmName},
                </if>
                <if test="alarmHistory.alarmReason!=null">
                    #{alarmHistory.alarmReason},
                </if>
                <if test="alarmHistory.firstTime!=null">
                    #{alarmHistory.firstTime},
                </if>
                <if test="alarmHistory.finalTime!=null">
                    #{alarmHistory.finalTime},
                </if>
                <if test="alarmHistory.alarmState!=null">
                    #{alarmHistory.alarmState},
                </if>
                <if test="alarmHistory.delayTime!=null">
                    #{alarmHistory.delayTime},
                </if>
                <if test="alarmHistory.alarmFrequency!=null">
                    #{alarmHistory.alarmFrequency},
                </if>
                <if test="alarmHistory.frequencyTime!=null">
                    #{alarmHistory.frequencyTime},
                </if>
                <if test="alarmHistory.experienceTime!=null">
                    #{alarmHistory.experienceTime},
                </if>
                <if test="alarmHistory.isRing!=null">
                    #{alarmHistory.isRing},
                </if>
                <if test="alarmHistory.isRecovery">
                    1,
                </if>
                #{alarmHistory.recoveryTime}
                FROM DUAL
                WHERE not exists (SELECT id FROM alarm_history WHERE subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId}
                and site_id=#{alarmHistory.siteId} and device_id=#{alarmHistory.deviceId}
                <if test="alarmHistory.slotId!=null">
                    and slot_id=#{alarmHistory.slotId}
                </if>
                and alarm_code=#{alarmHistory.alarmCode}
                <if test="alarmHistory.alarmState!=1 and alarmHistory.alarmState!=3 and alarmHistory.alarmState!=2 and alarmHistory.alarmState!=0 and (alarmHistory.alarmState!=7 or !alarmHistory.isRecovery)">
                    and alarm_state=#{alarmHistory.alarmState} and alarm_level=#{alarmHistory.alarmLevel})
                </if>
                <if test="alarmHistory.alarmState==1 or alarmHistory.alarmState==3 or alarmHistory.alarmState==2 or alarmHistory.alarmState==0 or (alarmHistory.alarmState==7 and alarmHistory.isRecovery)">
                    and alarm_state in (0,1,2,3)
                </if>
                and is_deleted=0);
                UPDATE alarm_history SET
                <if test="alarmHistory.isRecovery">
                    is_recovery=1,
                </if>
                <if test="!alarmHistory.isRecovery">
                    subsystem_id=#{alarmHistory.subsystemId},
                    subsystem_code=#{alarmHistory.subsystemCode},
                    line_id=#{alarmHistory.lineId},
                    line_code=#{alarmHistory.lineCode},
                    site_id=#{alarmHistory.siteId},
                    site_code=#{alarmHistory.siteCode},
                    device_id=#{alarmHistory.deviceId},
                    device_code=#{alarmHistory.deviceCode},
                    <if test="alarmHistory.slotId!=null">
                        slot_id=#{alarmHistory.slotId},
                    </if>
                    <if test="alarmHistory.slotCode!=null">
                        slot_code=#{alarmHistory.slotCode},
                    </if>
                    alarm_code=#{alarmHistory.alarmCode},
                    alarm_code_id=#{alarmHistory.alarmCodeId},
                    <if test="alarmHistory.alarmName!=null">
                        alarm_name=#{alarmHistory.alarmName},
                    </if>
                    <if test="alarmHistory.alarmReason!=null">
                        alarm_reason=#{alarmHistory.alarmReason},
                    </if>
                    <if test="alarmHistory.finalTime!=null">
                        final_time=#{alarmHistory.finalTime},
                    </if>
                    <if test="!alarmHistory.isRecovery">
                        frequency=frequency+1,
                    </if>
                    <if test="alarmHistory.isRing!=null">
                        is_ring=if(alarm_state in (0,1), #{alarmHistory.isRing}, 0),
                    </if>
                    <if test="alarmHistory.isRing==null">
                        is_ring=if(alarm_state in (0,1), 1, 0),
                    </if>
                    <if test="alarmHistory.delayTime!=null">
                        delay_time=#{alarmHistory.delayTime},
                    </if>
                    <if test="alarmHistory.alarmFrequency!=null">
                        alarm_frequency=#{alarmHistory.alarmFrequency},
                    </if>
                    <if test="alarmHistory.frequencyTime!=null">
                        frequency_time=#{alarmHistory.frequencyTime},
                    </if>
                    <if test="alarmHistory.experienceTime!=null">
                        experience_time=#{alarmHistory.experienceTime},
                    </if>
                </if>
                <if test="alarmHistory.alarmState!=null and (alarmHistory.alarmState==0 or alarmHistory.alarmState==1 or alarmHistory.alarmState==2 or alarmHistory.alarmState==3 or alarmHistory.alarmState==7)">
                    alarm_state=if(alarm_state>#{alarmHistory.alarmState},alarm_state,#{alarmHistory.alarmState}),
                </if>
                <if test="alarmHistory.alarmState!=null and alarmHistory.alarmState!=0 and alarmHistory.alarmState!=1 and alarmHistory.alarmState!=2 and alarmHistory.alarmState!=3 and alarmHistory.alarmState!=7">
                    alarm_state=#{alarmHistory.alarmState},
                </if>
                recovery_time=#{alarmHistory.recoveryTime}
                WHERE subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId} and site_id=#{alarmHistory.siteId}
                and device_id=#{alarmHistory.deviceId}
                <if test="alarmHistory.slotId!=null">
                    and slot_id=#{alarmHistory.slotId}
                </if>
                and alarm_code=#{alarmHistory.alarmCode}
                <if test="alarmHistory.alarmState!=1 and alarmHistory.alarmState!=3 and alarmHistory.alarmState!=2 and alarmHistory.alarmState!=0 and (alarmHistory.alarmState!=7 or !alarmHistory.isRecovery)">
                    and alarm_state=#{alarmHistory.alarmState} and alarm_level=#{alarmHistory.alarmLevel})
                </if>
                <if test="alarmHistory.alarmState==1 or alarmHistory.alarmState==3 or alarmHistory.alarmState==2 or alarmHistory.alarmState==0 or (alarmHistory.alarmState==7 and alarmHistory.isRecovery)">
                    and alarm_state in (0,1,2,3)
                </if>
                and is_deleted=0 and is_recovery=0;
                <if test="!alarmHistory.isRecovery">
                    delete from alarm_message
                    WHERE alarm_id=(select max(id) as id from alarm_history where subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId} and site_id=#{alarmHistory.siteId}
                    and device_id=#{alarmHistory.deviceId}
                    <if test="alarmHistory.slotId!=null">
                        and slot_id=#{alarmHistory.slotId}
                    </if>
                    and alarm_code=#{alarmHistory.alarmCode} and alarm_state=#{alarmHistory.alarmState} and is_deleted=0) and is_deleted=0;
                    <if test="alarmHistory.alarmMessageList!=null and alarmHistory.alarmMessageList.size()>0">
                        INSERT INTO alarm_message (alarm_id, title, content)
                        values
                        <foreach collection="alarmHistory.alarmMessageList" index="index" item="alarmMessage" separator=",">
                            ((select max(id) as id from alarm_history where subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId} and site_id=#{alarmHistory.siteId}
                            and device_id=#{alarmHistory.deviceId}
                            <if test="alarmHistory.slotId!=null">
                                and slot_id=#{alarmHistory.slotId}
                            </if>
                            and alarm_code=#{alarmHistory.alarmCode} and alarm_state=#{alarmHistory.alarmState} and is_deleted=0),
                            #{alarmMessage.title}, #{alarmMessage.content})
                        </foreach>
                    </if>
                </if>
            </trim>
        </foreach>
    </insert>

    <insert id="syncAlarmHistory">
        <foreach collection="list" item="alarmHistory" index="index" separator=";">
            <trim suffixOverrides=";">
                INSERT INTO alarm_history (subsystem_id, subsystem_code, alarm_level,
                line_id, line_code, site_id, site_code, device_id, device_code, slot_id, slot_code,
                alarm_code, alarm_code_id, frequency,
                <if test="alarmHistory.alarmName!=null">
                    alarm_name,
                </if>
                <if test="alarmHistory.alarmReason!=null">
                    alarm_reason,
                </if>
                <if test="alarmHistory.firstTime!=null">
                    first_time,
                </if>
                <if test="alarmHistory.finalTime!=null">
                    final_time,
                </if>
                <if test="alarmHistory.alarmState!=null">
                    alarm_state,
                </if>
                <if test="alarmHistory.delayTime!=null">
                    delay_time,
                </if>
                <if test="alarmHistory.alarmFrequency!=null">
                    alarm_frequency,
                </if>
                <if test="alarmHistory.frequencyTime!=null">
                    frequency_time,
                </if>
                <if test="alarmHistory.experienceTime!=null">
                    experience_time,
                </if>
                <if test="alarmHistory.isRing!=null">
                    is_ring,
                </if>
                <if test="alarmHistory.isRecovery">
                    is_recovery,
                </if>
                recovery_time)
                SELECT #{alarmHistory.subsystemId}, #{alarmHistory.subsystemCode}, #{alarmHistory.alarmLevel},
                #{alarmHistory.lineId}, #{alarmHistory.lineCode}, #{alarmHistory.siteId}, #{alarmHistory.siteCode},
                #{alarmHistory.deviceId}, #{alarmHistory.deviceCode}, #{alarmHistory.slotId}, #{alarmHistory.slotCode},
                #{alarmHistory.alarmCode}, #{alarmHistory.alarmCodeId}, 1,
                <if test="alarmHistory.alarmName!=null">
                    #{alarmHistory.alarmName},
                </if>
                <if test="alarmHistory.alarmReason!=null">
                    #{alarmHistory.alarmReason},
                </if>
                <if test="alarmHistory.firstTime!=null">
                    #{alarmHistory.firstTime},
                </if>
                <if test="alarmHistory.finalTime!=null">
                    #{alarmHistory.finalTime},
                </if>
                <if test="alarmHistory.alarmState!=null">
                    #{alarmHistory.alarmState},
                </if>
                <if test="alarmHistory.delayTime!=null">
                    #{alarmHistory.delayTime},
                </if>
                <if test="alarmHistory.alarmFrequency!=null">
                    #{alarmHistory.alarmFrequency},
                </if>
                <if test="alarmHistory.frequencyTime!=null">
                    #{alarmHistory.frequencyTime},
                </if>
                <if test="alarmHistory.experienceTime!=null">
                    #{alarmHistory.experienceTime},
                </if>
                <if test="alarmHistory.isRing!=null">
                    #{alarmHistory.isRing},
                </if>
                <if test="alarmHistory.isRecovery">
                    1,
                </if>
                #{alarmHistory.recoveryTime}
                FROM DUAL
                WHERE NOT exists (SELECT id FROM alarm_history WHERE subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId}
                and site_id=#{alarmHistory.siteId} and device_id=#{alarmHistory.deviceId}
                <if test="alarmHistory.slotId!=null">
                    and slot_id=#{alarmHistory.slotId}
                </if>
                and alarm_code=#{alarmHistory.alarmCode}
                <if test="alarmHistory.alarmState!=1 and alarmHistory.alarmState!=3 and alarmHistory.alarmState!=2 and alarmHistory.alarmState!=0 and (alarmHistory.alarmState!=7 or !alarmHistory.isRecovery)">
                    and alarm_state=#{alarmHistory.alarmState} and alarm_level=#{alarmHistory.alarmLevel})
                </if>
                <if test="alarmHistory.alarmState==1 or alarmHistory.alarmState==3 or alarmHistory.alarmState==2 or alarmHistory.alarmState==0 or (alarmHistory.alarmState==7 and alarmHistory.isRecovery)">
                    and alarm_state in (0,1,2,3)
                </if>
                and is_deleted=0);
                delete from alarm_message
                WHERE alarm_id=(select max(id) as id from alarm_history where subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId} and site_id=#{alarmHistory.siteId}
                and device_id=#{alarmHistory.deviceId}
                <if test="alarmHistory.slotId!=null">
                    and slot_id=#{alarmHistory.slotId}
                </if>
                and alarm_code=#{alarmHistory.alarmCode} and alarm_state=#{alarmHistory.alarmState} and is_deleted=0) and is_deleted=0;
                <if test="alarmHistory.alarmMessageList!=null and alarmHistory.alarmMessageList.size()>0">
                    INSERT INTO alarm_message (alarm_id, title, content)
                    values
                    <foreach collection="alarmHistory.alarmMessageList" index="index" item="alarmMessage" separator=",">
                        ((select max(id) as id from alarm_history where subsystem_id=#{alarmHistory.subsystemId} and line_id=#{alarmHistory.lineId} and site_id=#{alarmHistory.siteId}
                        and device_id=#{alarmHistory.deviceId}
                        <if test="alarmHistory.slotId!=null">
                            and slot_id=#{alarmHistory.slotId}
                        </if>
                        and alarm_code=#{alarmHistory.alarmCode} and alarm_state=#{alarmHistory.alarmState} and is_deleted=0),
                        #{alarmMessage.title}, #{alarmMessage.content})
                    </foreach>
                </if>
            </trim>
        </foreach>
    </insert>

    <insert id="editAlarmMessage">
        delete from alarm_message
        WHERE alarm_id=(select max(id) as id from alarm_history where subsystem_id=#{subsystemId} and line_id=#{lineId} and site_id=#{siteId}
        and device_id=#{deviceId}
        <if test="slotId!=null">
            and slot_id=#{slotId}
        </if>
        and alarm_code=#{alarmCode} and alarm_state=#{alarmState} and is_deleted=0) and is_deleted=0;
        INSERT INTO alarm_message (alarm_id, title, content)
        values
        <foreach collection="alarmMessageList" index="index" item="alarmMessage" separator=",">
            ((select max(id) as id from alarm_history where subsystem_id=#{subsystemId} and line_id=#{lineId} and site_id=#{siteId}
            and device_id=#{deviceId}
            <if test="slotId!=null">
                and slot_id=#{slotId}
            </if>
            and alarm_code=#{alarmCode} and alarm_state=#{alarmState} and is_deleted=0),
            #{alarmMessage.title}, #{alarmMessage.content})
        </foreach>
    </insert>

    <insert id="syncAlarmMessage">
        UPDATE alarm_message SET is_deleted=1
        WHERE alarm_id=#{alarmId} and is_deleted=0;
        INSERT INTO alarm_message (alarm_id, title, content)
        values
        <foreach collection="alarmMessages" index="index" item="alarmMessage" separator=",">
            (#{alarmId}, #{alarmMessage.title}, #{alarmMessage.content})
        </foreach>
    </insert>

    <select id="getAlarmHistoryId" resultType="java.lang.Long">
        select max(id) as id from alarm_history where subsystem_id=#{subsystemId} and line_id=#{lineId} and site_id=#{siteId}
        and device_id=#{deviceId} and slot_id=#{slotId} and alarm_code=#{alarmCode} and alarm_state=#{alarmState} and is_deleted=0
    </select>

    <select id="getUpdateLevel" resultType="java.lang.Integer">
        select min(alarm_level) as alarm_level from alarm_history where subsystem_id=#{subsystemId} and line_id=#{lineId} and site_id=#{siteId}
        and device_id=#{deviceId} and slot_id=#{slotId} and alarm_code=#{alarmCode} and alarm_state=#{alarmState} and is_deleted=0 and alarm_state in (0,1,2,3)
    </select>

    <update id="updateDelayAlarmHistory">
        UPDATE alarm_history SET alarm_state=0,is_ring=1 where alarm_state=1 and delay_time is not null
        and now()>=delay_time and is_deleted=0
    </update>

    <update id="updateFrequencyAlarmHistory" parameterType="com.zte.msg.alarmcenter.entity.AlarmHistory">
        UPDATE alarm_history SET alarm_level=alarm_level-1,is_upgrade=0 where alarm_level!=1 and
        subsystem_id=#{subsystemId} and line_id=#{lineId} and site_id=#{siteId} and device_id=#{deviceId} and
        slot_id=#{slotId} and alarm_code=#{alarmCode} and is_deleted=0 and alarm_state in (0,1,2,3)
    </update>

    <update id="updateExperienceAlarmHistory">
        UPDATE alarm_history SET alarm_level=alarm_level-1,is_upgrade=0 where is_deleted=0 and experience_time is not null
        and alarm_level!=1 and now()>=date_add(first_time,interval experience_time minute_second) and is_upgrade=1 and alarm_state in (0,1,2,3);
        UPDATE alarm_history SET alarm_level=alarm_level-1,is_upgrade=0 where is_deleted=0 and experience_time is not null
        and alarm_level!=1 and now()>=date_add(date_add(first_time,interval experience_time minute_second),interval experience_time minute_second) and is_upgrade=0
        and alarm_state in (0,1,2,3);
    </update>

    <update id="updateSyncAlarmHistory">
        <foreach collection="list" index="index" item="alarmHistoryResDTO" separator=";">
            update alarm_history set alarm_state=7,recovery_time=now() where id=#{alarmHistoryResDTO.id} and is_deleted=0
        </foreach>
    </update>
</mapper>