<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.AlarmLevelMapper">
    <update id="modifyAlarmLevel">
        update alarm_level
        set
            `name` = #{alarmLevelReqDTO.name},
            color = #{alarmLevelReqDTO.color},
            updated_at = NOW(),
            updated_by = #{userId}
        where id = #{id}
    </update>

    <select id="getAlarmLevelCount" resultType="java.lang.Integer">
        select
            count(1)
        from
            alarm_level
        where is_deleted = 0
    </select>
    <select id="getAlarmLevelList" resultType="com.zte.msg.alarmcenter.dto.res.AlarmLevelResDTO">
        select
            id,
            code,
            `name`,
            color,
            DATE_FORMAT(created_at, "%Y-%m-%d %T") as createdAt,
            DATE_FORMAT(updated_at, "%Y-%m-%d %T") as updatedAt,
            created_by,
            updated_by
        from
            alarm_level
        where is_deleted = 0
        limit #{page},#{size}
    </select>
</mapper>