<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.AlarmStatisticsMapper">
    <select id="totalAlarmData" resultType="com.zte.msg.alarmcenter.dto.res.TotalAlarmDataResDTO">
        select cs.id as subsystem_id,cs.name as subsystem_name,p.id as site_id,p.name as site_name,
        ah.alarm_name,ah.alarm_reason,sum(ah.frequency) as alarm_num from alarm_history as ah
        left join subsystem as cs on ah.subsystem_id=cs.id left join position as p on p.id=ah.site_id
        where ah.is_deleted=0 and ah.alarm_state in (4,5,6,7)
        <if test="systemId!=null">
            and cs.id=#{systemId}
        </if>
        <if test="siteId!=null">
            and p.id=#{siteId}
        </if>
        <if test="alarmReason!=null and alarmReason!=''">
            and ah.alarm_reason=#{alarmReason}
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        group by cs.id,p.id
    </select>

    <select id="exportTotalAlarmData" resultType="com.zte.msg.alarmcenter.dto.res.TotalAlarmDataResDTO">
        select cs.id as subsystem_id,cs.name as subsystem_name,p.id as site_id,p.name as site_name,
        ah.alarm_name,ah.alarm_reason,sum(ah.frequency) as alarm_num from alarm_history as ah
        left join subsystem as cs on ah.subsystem_id=cs.id left join position as p on p.id=ah.site_id
        where ah.is_deleted=0 and ah.alarm_state in (4,5,6,7)
        <if test="systemId!=null">
            and cs.id=#{systemId}
        </if>
        <if test="siteId!=null">
            and p.id=#{siteId}
        </if>
        <if test="alarmReason!=null and alarmReason!=''">
            and ah.alarm_reason=#{alarmReason}
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        group by cs.id,p.id
    </select>

    <select id="statisticsByLine" resultType="com.zte.msg.alarmcenter.dto.res.StatisticsByAnyResDTO">
        select p.id as site_id,p.name as site_name,
        ah.alarm_level,sum(ah.frequency) as alarm_num from position as p
        left join alarm_history as ah on p.id=ah.site_id and ah.is_deleted=0
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        where p.is_deleted=0 and p.type=3 and ah.alarm_state in (4,5,6,7)
        <if test="siteIds!=null and siteIds.size()>0">
            and p.id in(
            <foreach collection="siteIds" index="index" item="siteId" separator=",">
                #{siteId}
            </foreach>
            )
        </if>
        group by p.id,ah.alarm_level
        order by p.sort asc
    </select>

    <select id="statisticsBySystem" resultType="com.zte.msg.alarmcenter.dto.res.StatisticsByAnyResDTO">
        select cs.id as subsystem_id,cs.name as subsystem_name,
        ah.alarm_level,sum(ah.frequency) as alarm_num from subsystem as cs
        left join alarm_history as ah on ah.subsystem_id=cs.id and ah.is_deleted=0
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        where cs.is_deleted=0 and ah.alarm_state in (4,5,6,7) and cs.pid not in (0)
        <if test="systemIds!=null and systemIds.size()>0">
            and cs.id in(
            <foreach collection="systemIds" index="index" item="systemId" separator=",">
                #{systemId}
            </foreach>
            )
        </if>
        group by cs.id,ah.alarm_level
    </select>

    <select id="statisticsByAlarmLevel" resultType="com.zte.msg.alarmcenter.dto.res.StatisticsByAnyResDTO">
        select ah.alarm_level,sum(ah.frequency) as alarm_num from alarm_history as ah
        where ah.is_deleted=0 and ah.alarm_state in (4,5,6,7)
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        group by ah.alarm_level
    </select>

    <select id="lineAlarmTrend" resultType="com.zte.msg.alarmcenter.dto.res.AnyAlarmTrendResDTO">
        select ah.alarm_level,sum(ah.frequency) as alarm_num,DATE_FORMAT(ah.final_time,
        <if test="statisticsCycle==1">
            '%Y年%m月%d日'
        </if>
        <if test="statisticsCycle==2">
            '%Y年%u周'
        </if>
        <if test="statisticsCycle==3">
            '%Y年%m月'
        </if>
        ) as statistics_date from position as p
        left join alarm_history as ah on p.id=ah.site_id and ah.is_deleted=0
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        where p.is_deleted=0 and p.type=3 and ah.alarm_state in (4,5,6,7)
        <if test="siteId!=null">
            and p.id=#{siteId}
        </if>
        group by statistics_date,ah.alarm_level
    </select>

    <select id="levelAlarmTrend" resultType="com.zte.msg.alarmcenter.dto.res.AnyAlarmTrendResDTO">
        select ah.alarm_level,sum(ah.frequency) as alarm_num,DATE_FORMAT(ah.final_time,
        <if test="statisticsCycle==1">
            '%Y年%m月%d日'
        </if>
        <if test="statisticsCycle==2">
            '%Y年%u周'
        </if>
        <if test="statisticsCycle==3">
            '%Y年%m月'
        </if>
        ) as statistics_date from alarm_history as ah
        where ah.is_deleted=0 and ah.alarm_state in (4,5,6,7)
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        group by ah.alarm_level,statistics_date
    </select>

    <select id="systemAlarmTrend" resultType="com.zte.msg.alarmcenter.dto.res.AnyAlarmTrendResDTO">
        select ah.alarm_level,sum(ah.frequency) as alarm_num,DATE_FORMAT(ah.final_time,
        <if test="statisticsCycle==1">
            '%Y年%m月%d日'
        </if>
        <if test="statisticsCycle==2">
            '%Y年%u周'
        </if>
        <if test="statisticsCycle==3">
            '%Y年%m月'
        </if>
        ) as statistics_date from subsystem as cs
        left join alarm_history as ah on ah.subsystem_id=cs.id and ah.is_deleted=0
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        where cs.is_deleted=0 and ah.alarm_state in (4,5,6,7)
        <if test="systemId!=null">
            and cs.id=#{systemId}
        </if>
        group by statistics_date,ah.alarm_level
    </select>

    <select id="alarmResolutionEfficiency" resultType="com.zte.msg.alarmcenter.dto.res.AlarmResolutionEfficiencyResDTO">
        select ah.alarm_level,avg(TIMESTAMPDIFF(SECOND,ah.first_time,ah.recovery_time)) as disposal_time,DATE_FORMAT(ah.final_time,
        <if test="statisticsCycle==1">
            '%Y年%m月%d日'
        </if>
        <if test="statisticsCycle==2">
            '%Y年%u周'
        </if>
        <if test="statisticsCycle==3">
            '%Y年%m月'
        </if>
        ) as statistics_date from alarm_history as ah
        where ah.is_deleted=0 and ah.alarm_state in (4,5,6,7)
        <if test="alarmLevels!=null and alarmLevels.size()>0">
            and ah.alarm_level in(
            <foreach collection="alarmLevels" index="index" item="level" separator=",">
                #{level}
            </foreach>
            )
        </if>
        <if test="startTime!=null">
            and ah.final_time>=#{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime}>=ah.final_time
        </if>
        group by ah.alarm_level,statistics_date
    </select>
</mapper>