<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.DeviceMapper">

    <select id="selectDeviceIsExist" resultType="java.lang.Long" parameterType="com.zte.msg.alarmcenter.dto.req.DeviceReqDTO">
        select id from device where name=#{name} and system_id=#{systemId} and position_id=#{positionId} and device_code=#{deviceCode} and is_deleted=0
        <if test="id!=null">
            and id!=#{id}
        </if>
    </select>
    <insert id="importDevice" parameterType="java.util.List">
        <foreach collection ="list" item="item" index= "index" separator =";">
            insert into device
            (id,`name`,system_id,position_id,device_code,brand,serial_num,description,created_at,created_by)
            select
             null,
            #{item.name},
            #{item.systemId},
            #{item.positionId},
            #{item.deviceCode},
            #{item.brand},
            #{item.serialNum},
            #{item.description},
            NOW(),
            #{userId}
            FROM DUAL
            WHERE NOT exists (SELECT id FROM device WHERE system_id= #{item.systemId} and position_id=#{item.positionId}
            and device_code=#{item.deviceCode} and name=#{item.name} and is_deleted=0)
        </foreach>
    </insert>
    <update id="modifyDevice">
        update device
        set
            `name` = #{reqModifyDTO.name},
            system_id = #{reqModifyDTO.systemId},
            position_id = #{reqModifyDTO.positionId},
            device_code = #{reqModifyDTO.deviceCode},
            brand = #{reqModifyDTO.brand},
            serial_num = #{reqModifyDTO.serialNum},
            description = #{reqModifyDTO.description},
            updated_at = NOW()
        <if test="userId!=null and userId!=''">
            ,updated_by = #{userId}
        </if>
        where id = #{id}
    </update>
    <select id="selectIsDeviceUse1" resultType="java.lang.Integer">
        select count(*) from filter_device as fa left join alarm_rule as ar on ar.id=fa.rule_id and ar.is_deleted=0 where fa.device_id=#{id} and ar.is_deleted=0 and fa.is_deleted=0
    </select>
    <select id="selectIsDeviceUse2" resultType="java.lang.Integer">
        select count(*) from device_slot where device_id=#{id} and is_deleted=0
    </select>
    <update id="deleteDevice">
        update device
        set
            is_deleted = 1
        where id = #{id}
    </update>

    <select id="exportDevice" resultType="com.zte.msg.alarmcenter.dto.res.DeviceResDTO">
        select
        t.id,
        t.name,
        t.system_id,
        t1.sid as system_code,
        t1.name as systemName,
        t.position_id,
        t2.position_code as position_code,
        t2.name as positionName,
        t.device_code,
        t.brand,
        t.serial_num,
        t.description
        from device t
        join subsystem t1 on t1.id = t.system_id
        join position t2 on t2.id = t.position_id
        where t.is_deleted = 0
        <if test="name!=null and name!=''">
            and t.`name` like concat('%',#{name},'%')
        </if>
        <if test="deviceCode!=null and deviceCode!=''">
            and t.device_code = #{deviceCode}
        </if>
        <if test="systemId!=null">
            and t.system_id = #{systemId}
        </if>
        <if test="positionId!=null">
            and t.position_id = #{positionId}
        </if>
        <if test="page!=null and size!=null">
            limit ${page},${size}
        </if>
    </select>
    <select id="getDevicesCount" resultType="java.lang.Integer">
        select
            count(1)
        from device t
        join subsystem t1 on t1.id = t.system_id
        join position t2 on t2.id = t.position_id
        where t.is_deleted = 0
        <if test="name!=null and name!=''">
            and t.`name` like concat('%',#{name},'%')
        </if>
        <if test="deviceCode!=null and deviceCode!=''">
            and t.device_code = #{deviceCode}
        </if>
        <if test="systemId!=null">
            and t.system_id = #{systemId}
        </if>
        <if test="positionId!=null">
            and t.position_id = #{positionId}
        </if>
    </select>
</mapper>