<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.DeviceSlotMapper">
    <insert id="importDevice">
        insert into device_slot
        (
            id,
            slot_code,
            `name`,
            system_id,
            position_id,
            device_id,
            created_at,
            created_by
        )
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            null,
            #{item.slotCode},
            #{item.slotName},
            (select id from subsystem where sid = #{item.systemCode} and is_deleted=0),
            (select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{item.stationCode} and t2.position_code=#{item.LineCode}),
            (select id from device where system_id=(select id from subsystem where sid = #{item.systemCode} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
            where t1.is_deleted=0 and t1.position_code=#{item.stationCode} and t2.position_code=#{item.LineCode})
            and device_code=#{item.deviceCode}),
            NOW(),
            #{userId}
            )
        </foreach>
    </insert>

    <insert id="importOneDevice" useGeneratedKeys="true" keyProperty="device.id" parameterType="com.zte.msg.alarmcenter.dto.req.DeviceSlotReqDTO">
        insert into device_slot
        (
            id,
            slot_code,
            `name`,
            device_id,
            created_at,
            created_by
        )
        values
        (
            null,
            #{device.slotCode},
            #{device.slotName},
            (
                select
                    t.id
                from device t
                inner join (
                    select
                        id
                    from  alarm_center.`position` t1
                    where position_code = #{device.LineCode}
                    and type = 1
                    and exists (
                        select
                            id
                        from alarm_center.`position` t2
                        where position_code = #{device.stationCode}
                        and type = 3
                        and t1.p_id = t2.id)
                ) as t1 on t.position_id = t1.id
                inner join (
                    select
                        id
                    from alarm_center.subsystem
                    where sid = #{device.systemCode}
                ) as t2 on t.system_id = t2.id
                where t.device_code = #{device.deviceCode}
            ),
            NOW(),
            #{userId}
        );
        select @@IDENTITY as id;
    </insert>

    <insert id="addDeviceSlot">
        insert into device_slot
        (
            id,
            system_id,
            position_id,
            slot_code,
            `name`,
            device_id,
            created_at,
            created_by
        )
        values
        (
            null,
            #{deviceSlotReqDTO.systemId},
            #{deviceSlotReqDTO.positionId},
            #{deviceSlotReqDTO.slotCode},
            #{deviceSlotReqDTO.slotName},
            #{deviceSlotReqDTO.deviceId},
            NOW(),
            #{userId}
        )
    </insert>
    <update id="deleteDevice">
        update device_slot
        set is_deleted = 1
        where id = #{id}
    </update>
    <update id="modifyDevice">
        update device_slot
        set
            system_id=#{deviceSlotReqDTO.systemId},
            position_id=#{deviceSlotReqDTO.positionId},
            slot_code = #{deviceSlotReqDTO.slotCode},
            `name` = #{deviceSlotReqDTO.slotName},
            device_id = #{deviceSlotReqDTO.deviceId},
            updated_at = NOW(),
            updated_by = #{userId}
        where id = #{id}
    </update>

    <select id="exportDevice" resultType="com.zte.msg.alarmcenter.dto.res.DeviceSlotResDTO">
        select
            t.id,
            t.slot_code as slotCode,
            t.`name` as slotName,
            t.device_id,
            t.position_id,
            t.system_id,
            t1.device_code,
            t1.`name` as deviceName,
            t2.`name` as positionName,
            t3.`name` as systemName
        from device_slot t
        left join device t1 on t.device_id = t1.id and t1.is_deleted=0
        left join `position` t2 on t1.position_id = t2.id and t2.is_deleted=0
        left join subsystem t3 on t1.system_id = t3.id and t3.is_deleted=0
        where t.is_deleted = 0
        <if test="slotName!=null and slotName!=''">
            and t.`name` like concat('%',#{slotName},'%')
        </if>
        <if test="deviceName!=null and deviceName!=''">
            and t1.`name` like concat('%',#{deviceName},'%')
        </if>
        <if test="deviceCode!=null and deviceCode!=''">
            and t1.device_code = #{deviceCode}
        </if>
        <if test="systemId!=null">
            and t3.id = #{systemId}
        </if>
        <if test="positionId!=null">
            and t2.id = #{positionId}
        </if>
        <if test="page!=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getDevicesSlotCount" resultType="java.lang.Integer">
        select
            count(1)
        from device_slot t
        left join device t1 on t.device_id = t1.id and t1.is_deleted=0
        left join `position` t2 on t1.position_id = t2.id and t2.is_deleted=0
        left join subsystem t3 on t1.system_id = t3.id and t3.is_deleted=0
        where t.is_deleted = 0
        <if test="slotName!=null and slotName!=''">
            and t.`name` like concat('%',#{slotName},'%')
        </if>
        <if test="deviceName!=null and deviceName!=''">
            and t1.`name` like concat('%',#{deviceName},'%')
        </if>
        <if test="deviceCode!=null and deviceCode!=''">
            and t1.device_code = #{deviceCode}
        </if>
        <if test="systemId!=null">
            and t3.id = #{systemId}
        </if>
        <if test="positionId!=null">
            and t2.id = #{positionId}
        </if>
    </select>
</mapper>