<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.OperationLogMapper">
    <select id="listOperationLog" resultType="com.zte.msg.alarmcenter.entity.OperationLog">
        select * from operation_log where is_deleted=0
        <if test="userName!=null and userName!=''">
            and user_name like CONCAT('%',#{userName},'%')
        </if>
        <if test="operationType!=null and operationType!=''">
            and operation_type=#{operationType}
        </if>
        <if test="startTime!=null">
            and operation_time >= #{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime} >= operation_time
        </if>
        ORDER BY updated_at DESC
    </select>

    <select id="exportOperationLog" resultType="com.zte.msg.alarmcenter.entity.OperationLog">
        select * from operation_log where is_deleted=0
        <if test="userName!=null and userName!=''">
            and user_name like CONCAT('%',#{userName},'%')
        </if>
        <if test="operationType!=null and operationType!=''">
            and operation_type=#{operationType}
        </if>
        <if test="startTime!=null">
            and operation_time >= #{startTime}
        </if>
        <if test="endTime!=null">
            and #{endTime} >= operation_time
        </if>
        ORDER BY updated_at DESC
    </select>

    <insert id="addOperationLog" parameterType="com.zte.msg.alarmcenter.entity.OperationLog">
        insert into operation_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                user_name,
            </if>
            <if test="operationTime!=null">
                operation_time,
            </if>
            <if test="operationType!=null and operationType!=''">
                operation_type,
            </if>
            <if test="useTime!=null">
                use_time,
            </if>
            <if test="params!=null and params!=''">
                params,
            </if>
            <if test="hostIp!=null and hostIp!=''">
                host_ip,
            </if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                #{userName},
            </if>
            <if test="operationTime!=null">
                #{operationTime},
            </if>
            <if test="operationType!=null and operationType!=''">
                #{operationType},
            </if>
            <if test="useTime!=null">
                #{useTime},
            </if>
            <if test="params!=null and params!=''">
                #{params},
            </if>
            <if test="hostIp!=null and hostIp!=''">
                #{hostIp},
            </if>
        </trim>
    </insert>

    <delete id="deleteOperationLog">
        delete from operation_log where DATE_ADD(CURDATE(),INTERVAL -1 YEAR) > created_at
    </delete>

    <select id="getOperationType" resultType="java.lang.String">
        SELECT DISTINCT operation_type FROM operation_log WHERE is_deleted=0
    </select>
</mapper>