<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.msg.alarmcenter.mapper.SynchronizeMapper">
    <insert id="alarmCodesSync">
        <foreach collection="list" item="alarmCodeSyncReqDTO" index="index">
            INSERT INTO alarm_code
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="alarmCodeSyncReqDTO.id!=null and alarmCodeSyncReqDTO.id!=''">
                    exe_id,
                </if>
                system_id,
                position_id,
                code,
                <if test="alarmCodeSyncReqDTO.alarmName!=null and alarmCodeSyncReqDTO.alarmName!=''">
                    name,
                </if>
                <if test="alarmCodeSyncReqDTO.alarmReason!=null and alarmCodeSyncReqDTO.alarmReason!=''">
                    reason,
                </if>
                <if test="alarmCodeSyncReqDTO.alarmLevel!=null">
                    level_id,
                </if>
                <if test="alarmCodeSyncReqDTO.handlingOpinions!=null and alarmCodeSyncReqDTO.handlingOpinions!=''">
                    handling_opinions,
                </if>
                <if test="alarmCodeSyncReqDTO.isDeleted!=null">
                    is_deleted,
                </if>
            </trim>
            SELECT
            <trim suffixOverrides=",">
                <if test="alarmCodeSyncReqDTO.id!=null and alarmCodeSyncReqDTO.id!=''">
                    #{alarmCodeSyncReqDTO.id},
                </if>
                (select id from subsystem where sid=#{alarmCodeSyncReqDTO.systemId} and is_deleted=0),
                (select id from `position` where position_code = #{alarmCodeSyncReqDTO.lineId} and type=2 and is_deleted=0),
                #{alarmCodeSyncReqDTO.alarmCode},
                <if test="alarmCodeSyncReqDTO.alarmName!=null and alarmCodeSyncReqDTO.alarmName!=''">
                    #{alarmCodeSyncReqDTO.alarmName},
                </if>
                <if test="alarmCodeSyncReqDTO.alarmReason!=null and alarmCodeSyncReqDTO.alarmReason!=''">
                    #{alarmCodeSyncReqDTO.alarmReason},
                </if>
                <if test="alarmCodeSyncReqDTO.alarmLevel!=null">
                    #{alarmCodeSyncReqDTO.alarmLevel},
                </if>
                <if test="alarmCodeSyncReqDTO.handlingOpinions!=null and alarmCodeSyncReqDTO.handlingOpinions!=''">
                    #{alarmCodeSyncReqDTO.handlingOpinions},
                </if>
                <if test="alarmCodeSyncReqDTO.isDeleted!=null">
                    #{alarmCodeSyncReqDTO.isDeleted},
                </if>
            </trim>
            FROM DUAL
            WHERE NOT exists (SELECT id FROM alarm_code WHERE system_id=(select id from subsystem where sid=#{alarmCodeSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select id from `position` where position_code = #{alarmCodeSyncReqDTO.lineId} and type=2 and is_deleted=0)
            and code=#{alarmCodeSyncReqDTO.alarmCode} and is_locked=0);
            UPDATE alarm_code SET
            <trim suffixOverrides=",">
                <if test="alarmCodeSyncReqDTO.id!=null and alarmCodeSyncReqDTO.id!=''">
                    exe_id=#{alarmCodeSyncReqDTO.id},
                </if>
                system_id=(select id from subsystem where sid=#{alarmCodeSyncReqDTO.systemId} and is_deleted=0),
                position_id=(select id from `position` where position_code = #{alarmCodeSyncReqDTO.lineId} and type=2 and is_deleted=0),
                code=#{alarmCodeSyncReqDTO.alarmCode},
                <if test="alarmCodeSyncReqDTO.alarmName!=null and alarmCodeSyncReqDTO.alarmName!=''">
                    name=#{alarmCodeSyncReqDTO.alarmName},
                </if>
                <if test="alarmCodeSyncReqDTO.alarmReason!=null and alarmCodeSyncReqDTO.alarmReason!=''">
                    reason=#{alarmCodeSyncReqDTO.alarmReason},
                </if>
                <if test="alarmCodeSyncReqDTO.alarmLevel!=null">
                    level_id=#{alarmCodeSyncReqDTO.alarmLevel},
                </if>
                <if test="alarmCodeSyncReqDTO.handlingOpinions!=null and alarmCodeSyncReqDTO.handlingOpinions!=''">
                    handling_opinions=#{alarmCodeSyncReqDTO.handlingOpinions},
                </if>
                <if test="alarmCodeSyncReqDTO.isDeleted!=null">
                    is_deleted=#{alarmCodeSyncReqDTO.isDeleted},
                </if>
            </trim>
            WHERE system_id=(select id from subsystem where sid=#{alarmCodeSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select id from `position` where position_code = #{alarmCodeSyncReqDTO.lineId} and type=2 and is_deleted=0)
            and code=#{alarmCodeSyncReqDTO.alarmCode} and is_locked=0;
        </foreach>
    </insert>

    <insert id="alarmCodeSync" parameterType="com.zte.msg.alarmcenter.dto.req.AlarmCodeSyncReqDTO">
        INSERT INTO alarm_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                exe_id,
            </if>
            system_id,
            position_id,
            code,
            <if test="alarmName!=null and alarmName!=''">
                name,
            </if>
            <if test="alarmReason!=null and alarmReason!=''">
                reason,
            </if>
            <if test="alarmLevel!=null">
                level_id,
            </if>
            <if test="handlingOpinions!=null and handlingOpinions!=''">
                handling_opinions,
            </if>
            <if test="isDeleted!=null">
                is_deleted,
            </if>
        </trim>
        SELECT
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            (select id from subsystem where sid=#{systemId} and is_deleted=0),
            (select id from `position` where position_code = #{lineId} and type=2 and is_deleted=0),
            #{alarmCode},
            <if test="alarmName!=null and alarmName!=''">
                #{alarmName},
            </if>
            <if test="alarmReason!=null and alarmReason!=''">
                #{alarmReason},
            </if>
            <if test="alarmLevel!=null">
                #{alarmLevel},
            </if>
            <if test="handlingOpinions!=null and handlingOpinions!=''">
                #{handlingOpinions},
            </if>
            <if test="isDeleted!=null">
                #{isDeleted},
            </if>
        </trim>
        FROM DUAL
        WHERE NOT exists (SELECT id FROM alarm_code WHERE system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0)
        and position_id=(select id from `position` where position_code = #{lineId} and type=2 and is_deleted=0)
        and code=#{alarmCode} and is_locked=0);
        UPDATE alarm_code SET
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                exe_id=#{id},
            </if>
            system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0),
            position_id=(select id from `position` where position_code = #{lineId} and type=2 and is_deleted=0),
            code=#{alarmCode},
            <if test="alarmName!=null and alarmName!=''">
                name=#{alarmName},
            </if>
            <if test="alarmReason!=null and alarmReason!=''">
                reason=#{alarmReason},
            </if>
            <if test="alarmLevel!=null">
                level_id=#{alarmLevel},
            </if>
            <if test="handlingOpinions!=null and handlingOpinions!=''">
                handling_opinions=#{handlingOpinions},
            </if>
            <if test="isDeleted!=null">
                is_deleted=#{isDeleted},
            </if>
        </trim>
        WHERE system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0)
        and position_id=(select id from `position` where position_code = #{lineId} and type=2 and is_deleted=0)
        and code=#{alarmCode} and is_locked=0;
    </insert>

    <insert id="devicesSync">
        <foreach collection="list" index="index" item="deviceSyncReqDTO">
            INSERT INTO device
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="deviceSyncReqDTO.id!=null and deviceSyncReqDTO.id!=''">
                    exe_id,
                </if>
                system_id,
                position_id,
                device_code,
                <if test="deviceSyncReqDTO.deviceName!=null and deviceSyncReqDTO.deviceName!=''">
                    name,
                </if>
                <if test="deviceSyncReqDTO.model!=null and deviceSyncReqDTO.model!=''">
                    brand,
                </if>
                <if test="deviceSyncReqDTO.manufacturer!=null and deviceSyncReqDTO.manufacturer!=''">
                    manufacturer,
                </if>
                <if test="deviceSyncReqDTO.isDeleted!=null">
                    is_deleted,
                </if>
            </trim>
            SELECT
            <trim suffixOverrides=",">
                <if test="deviceSyncReqDTO.id!=null and deviceSyncReqDTO.id!=''">
                    #{deviceSyncReqDTO.id},
                </if>
                (select id from subsystem where sid=#{deviceSyncReqDTO.systemId} and is_deleted=0),
                (select t1.id from position t1 left join position t2
                on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
                and t1.position_code=#{deviceSyncReqDTO.stationId} and t2.position_code=#{deviceSyncReqDTO.lineId}),
                #{deviceSyncReqDTO.deviceId},
                <if test="deviceSyncReqDTO.deviceName!=null and deviceSyncReqDTO.deviceName!=''">
                    #{deviceSyncReqDTO.deviceName},
                </if>
                <if test="deviceSyncReqDTO.model!=null and deviceSyncReqDTO.model!=''">
                    #{deviceSyncReqDTO.model},
                </if>
                <if test="deviceSyncReqDTO.manufacturer!=null and deviceSyncReqDTO.manufacturer!=''">
                    #{deviceSyncReqDTO.manufacturer},
                </if>
                <if test="deviceSyncReqDTO.isDeleted!=null">
                    #{deviceSyncReqDTO.isDeleted},
                </if>
            </trim>
            FROM DUAL
            WHERE NOT exists (SELECT id FROM device WHERE system_id=(select id from subsystem where sid=#{deviceSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{deviceSyncReqDTO.stationId} and t2.position_code=#{deviceSyncReqDTO.lineId})
            and device_code=#{deviceSyncReqDTO.deviceId} and is_locked=0);
            UPDATE device SET
            <trim suffixOverrides=",">
                <if test="deviceSyncReqDTO.id!=null and deviceSyncReqDTO.id!=''">
                    exe_id=#{deviceSyncReqDTO.id},
                </if>
                system_id=(select id from subsystem where sid=#{deviceSyncReqDTO.systemId} and is_deleted=0),
                position_id=(select t1.id from position t1 left join position t2
                on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
                and t1.position_code=#{deviceSyncReqDTO.stationId} and t2.position_code=#{deviceSyncReqDTO.lineId}),
                device_code=#{deviceSyncReqDTO.deviceId},
                <if test="deviceSyncReqDTO.deviceName!=null and deviceSyncReqDTO.deviceName!=''">
                    name=#{deviceSyncReqDTO.deviceName},
                </if>
                <if test="deviceSyncReqDTO.model!=null and deviceSyncReqDTO.model!=''">
                    brand=#{deviceSyncReqDTO.model},
                </if>
                <if test="deviceSyncReqDTO.manufacturer!=null and deviceSyncReqDTO.manufacturer!=''">
                    manufacturer=#{deviceSyncReqDTO.manufacturer},
                </if>
                <if test="deviceSyncReqDTO.isDeleted!=null">
                    is_deleted=#{deviceSyncReqDTO.isDeleted},
                </if>
            </trim>
            WHERE system_id=(select id from subsystem where sid=#{deviceSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{deviceSyncReqDTO.stationId} and t2.position_code=#{deviceSyncReqDTO.lineId})
            and device_code=#{deviceSyncReqDTO.deviceId} and is_locked=0;
        </foreach>
    </insert>

    <insert id="deviceSync" parameterType="com.zte.msg.alarmcenter.dto.req.DeviceSyncReqDTO">
        INSERT INTO device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                exe_id,
            </if>
            system_id,
            position_id,
            device_code,
            <if test="deviceName!=null and deviceName!=''">
                name,
            </if>
            <if test="model!=null and model!=''">
                brand,
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                manufacturer,
            </if>
            <if test="isDeleted!=null">
                is_deleted,
            </if>
        </trim>
        SELECT
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            (select id from subsystem where sid=#{systemId} and is_deleted=0),
            (select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{stationId} and t2.position_code=#{lineId}),
            #{deviceId},
            <if test="deviceName!=null and deviceName!=''">
                #{deviceName},
            </if>
            <if test="model!=null and model!=''">
                #{model},
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                #{manufacturer},
            </if>
            <if test="isDeleted!=null">
                #{isDeleted},
            </if>
        </trim>
        FROM DUAL
        WHERE NOT exists (SELECT id FROM device WHERE system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0)
        and position_id=(select t1.id from position t1 left join position t2
        on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
        and t1.position_code=#{stationId} and t2.position_code=#{lineId})
        and device_code=#{deviceId} and is_locked=0);
        UPDATE device SET
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                exe_id=#{id},
            </if>
            system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0),
            position_id=(select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{stationId} and t2.position_code=#{lineId}),
            device_code=#{deviceId},
            <if test="deviceName!=null and deviceName!=''">
                name=#{deviceName},
            </if>
            <if test="model!=null and model!=''">
                brand=#{model},
            </if>
            <if test="manufacturer!=null and manufacturer!=''">
                manufacturer=#{manufacturer},
            </if>
            <if test="isDeleted!=null">
                is_deleted=#{isDeleted},
            </if>
        </trim>
        WHERE system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0)
        and position_id=(select t1.id from position t1 left join position t2
        on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
        and t1.position_code=#{stationId} and t2.position_code=#{lineId})
        and device_code=#{deviceId} and is_locked=0;
    </insert>

    <insert id="slotsSync">
        <foreach collection="list" index="index" item="slotSyncReqDTO">
            INSERT INTO device_slot
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="slotSyncReqDTO.id!=null and slotSyncReqDTO.id!=''">
                    exe_id,
                </if>
                system_id,
                position_id,
                device_id,
                slot_code,
                <if test="slotSyncReqDTO.slotName!=null and slotSyncReqDTO.slotName!=''">
                    name,
                </if>
                <if test="slotSyncReqDTO.isDeleted!=null">
                    is_deleted,
                </if>
            </trim>
            SELECT
            <trim suffixOverrides=",">
                <if test="slotSyncReqDTO.id!=null and slotSyncReqDTO.id!=''">
                    #{slotSyncReqDTO.id},
                </if>
                (select id from subsystem where sid=#{slotSyncReqDTO.systemId} and is_deleted=0),
                (select t1.id from position t1 left join position t2
                on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
                and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId}),
                (select id from device where system_id=(select id from subsystem where sid = #{slotSyncReqDTO.systemId} and is_deleted=0)
                and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
                where t1.is_deleted=0 and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId})
                and device_code=#{slotSyncReqDTO.deviceId} and is_deleted=0),
                #{slotSyncReqDTO.slotId},
                <if test="slotSyncReqDTO.slotName!=null and slotSyncReqDTO.slotName!=''">
                    #{slotSyncReqDTO.slotName},
                </if>
                <if test="slotSyncReqDTO.isDeleted!=null">
                    #{slotSyncReqDTO.isDeleted},
                </if>
            </trim>
            FROM DUAL
            WHERE NOT exists (SELECT id FROM device_slot WHERE system_id=(select id from subsystem where sid=#{slotSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId})
            and device_id=(select id from device where system_id=(select id from subsystem where sid = #{slotSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
            where t1.is_deleted=0 and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId})
            and device_code=#{slotSyncReqDTO.deviceId} and is_deleted=0) and slot_code=#{slotSyncReqDTO.slotId} and is_locked=0);
            UPDATE device_slot SET
            <trim suffixOverrides=",">
                <if test="slotSyncReqDTO.id!=null and slotSyncReqDTO.id!=''">
                    exe_id=#{slotSyncReqDTO.id},
                </if>
                system_id=(select id from subsystem where sid=#{slotSyncReqDTO.systemId} and is_deleted=0),
                position_id=(select t1.id from position t1 left join position t2
                on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
                and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId}),
                device_id=(select id from device where system_id=(select id from subsystem where sid = #{slotSyncReqDTO.systemId} and is_deleted=0)
                and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
                where t1.is_deleted=0 and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId})
                and device_code=#{slotSyncReqDTO.deviceId} and is_deleted=0),
                slot_code=#{slotSyncReqDTO.slotId},
                <if test="slotSyncReqDTO.slotName!=null and slotSyncReqDTO.slotName!=''">
                    name=#{slotSyncReqDTO.slotName},
                </if>
                <if test="slotSyncReqDTO.isDeleted!=null">
                    is_deleted=#{slotSyncReqDTO.isDeleted},
                </if>
            </trim>
            WHERE system_id=(select id from subsystem where sid=#{slotSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId})
            and device_id=(select id from device where system_id=(select id from subsystem where sid = #{slotSyncReqDTO.systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
            where t1.is_deleted=0 and t1.position_code=#{slotSyncReqDTO.stationId} and t2.position_code=#{slotSyncReqDTO.lineId})
            and device_code=#{slotSyncReqDTO.deviceId} and is_deleted=0) and slot_code=#{slotSyncReqDTO.slotId} and is_locked=0;
        </foreach>
    </insert>

    <insert id="slotSync" parameterType="com.zte.msg.alarmcenter.dto.req.SlotSyncReqDTO">
        INSERT INTO device_slot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">
                exe_id,
            </if>
            system_id,
            position_id,
            device_id,
            slot_code,
            <if test="slotName!=null and slotName!=''">
                name,
            </if>
            <if test="isDeleted!=null">
                is_deleted,
            </if>
        </trim>
        SELECT
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                #{id},
            </if>
            (select id from subsystem where sid=#{systemId} and is_deleted=0),
            (select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{stationId} and t2.position_code=#{lineId}),
            (select id from device where system_id=(select id from subsystem where sid = #{systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
            where t1.is_deleted=0 and t1.position_code=#{stationId} and t2.position_code=#{lineId})
            and device_code=#{deviceId} and is_deleted=0),
            #{slotId},
            <if test="slotName!=null and slotName!=''">
                #{slotName},
            </if>
            <if test="isDeleted!=null">
                #{isDeleted},
            </if>
        </trim>
        FROM DUAL
        WHERE NOT exists (SELECT id FROM device_slot WHERE system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0)
        and position_id=(select t1.id from position t1 left join position t2
        on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
        and t1.position_code=#{stationId} and t2.position_code=#{lineId})
        and device_id=(select id from device where system_id=(select id from subsystem where sid = #{systemId} and is_deleted=0)
        and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
        where t1.is_deleted=0 and t1.position_code=#{stationId} and t2.position_code=#{lineId})
        and device_code=#{deviceId} and is_deleted=0) and slot_code=#{slotId} and is_locked=0);
        UPDATE device_slot SET
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">
                exe_id=#{id},
            </if>
            system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0),
            position_id=(select t1.id from position t1 left join position t2
            on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
            and t1.position_code=#{stationId} and t2.position_code=#{lineId}),
            device_id=(select id from device where system_id=(select id from subsystem where sid = #{systemId} and is_deleted=0)
            and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
            where t1.is_deleted=0 and t1.position_code=#{stationId} and t2.position_code=#{lineId})
            and device_code=#{deviceId} and is_deleted=0),
            slot_code=#{slotId},
            <if test="slotName!=null and slotName!=''">
                name=#{slotName},
            </if>
            <if test="isDeleted!=null">
                is_deleted=#{isDeleted},
            </if>
        </trim>
        WHERE system_id=(select id from subsystem where sid=#{systemId} and is_deleted=0)
        and position_id=(select t1.id from position t1 left join position t2
        on t2.id=t1.p_id and t2.is_deleted=0 where t1.is_deleted=0
        and t1.position_code=#{stationId} and t2.position_code=#{lineId})
        and device_id=(select id from device where system_id=(select id from subsystem where sid = #{systemId} and is_deleted=0)
        and position_id=(select t1.id from position t1 left join position t2 on t2.id=t1.p_id and t2.is_deleted=0
        where t1.is_deleted=0 and t1.position_code=#{stationId} and t2.position_code=#{lineId})
        and device_code=#{deviceId} and is_deleted=0) and slot_code=#{slotId} and is_locked=0;
    </insert>
</mapper>